{% extends 'base.html.twig' %}

{% block title %}Playing {{ maze.id }}{% endblock %}

{% block body %}

    <h1>PLAYING {{ maze.id }} </h1>

    {% for x in 1..maze.height %}
        <div style="display: flex; flex-direction: row; gap: 10px">
            {% for y in 1..maze.width %}
            {% set point = maze.getPointByCoordinate(x,y) %}

                {% if point.type.blocking is not same as true and hero.canMoveToPoint(point)  %}
                    <a href="{{ path('app_playing_maze_moving', {id : point.id}) }}" style="width: 75px; height: 75px">move here</a>
                {% else %}
                <div id="{{ x ~ '_' ~ y }}" style="width: 75px; height: 75px">

                    {{ point.type.name }}
                    {% if hero.currentPoint.x is same as x and hero.currentPoint.y is same as y %}
                        {{ hero.name }}
                    {% endif %}

                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}
