{% extends 'base.html.twig' %}

{% block title %}Hello WelcomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1>Hello {{ user.username }} !</h1>

    {% if user.hero is empty %}
        <div>
            You have no hero! Create one to get started
        </div>
        <a href="{{ path('hero_creator') }}">Create Hero</a>
    {% else %}
        <div>
            <a href="{{ path('hero_detail', {'id' : user.hero.id}) }}">{{ user.hero.name }}</a>
        </div>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_dashboard') }}">admin dashboard</a>
    {% endif %}

    <h3>PLAY</h3>
    {% for maze in mazes %}
        <a href="{{ path('app_playing_maze', {'id' : maze.id}) }}">{{ maze.id }}</a>
    {% endfor %}

</div>
{% endblock %}
