{% extends 'base.html.twig' %}

{% block title %}Hello WelcomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1>Hello {{ user.username }} !</h1>

    {% if user.heroes is empty %}
        <div>
            You have no hero! Create one to get started
        </div>
        <a href="{{ path('hero_creator') }}">Create Hero</a>
    {% else %}
        <div>
            {% for hero in user.heroes %}
                <a href="{{ path('hero_detail', {'id' : hero.id} ) }}">{{ hero.name }}</a>
            {% endfor %}
        </div>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_dashboard') }}">admin dashboard</a>
    {% endif %}

</div>
{% endblock %}
